/* Error: semicolons aren't allowed in the indented syntax.
 *     ,
 * 115 |     display: flex;
 *     |                  ^
 *     '
 *   ../../../styles.sass 115:18  @import
 *   home.component.sass 1:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a     \2577 \a 115 \2502      display: flex;\a     \2502                   ^\a     \2575 \a   ../../../styles.sass 115:18  @import\a   home.component.sass 1:9      root stylesheet";
}
